<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h1>Create Your Meme:</h1>
    
    <form method=POST action="/">
      Line 1 of Meme:<br>
      <input type="text" name="user-first-ln" value="First Line of Meme">
      <br>
       Line 2 of Meme:<br>
      <input type="text" name="user-second-ln" value="Second Line of Meme">
      <br>
      
      Meme Type:<br>
     <select name="meme-type">
        <option value="college-grad">Happy College Grad</option>
        <option value="thinking-ape">Deep Thought Monkey</option>
        <option value="coding">Learning to Code</option>
        <option value="old-class">Old Classroom</option>
      </select>
      
      <input type="submit" value="Create">
    </form>
    
    <b> <a href="{{logout_url}}">Log out</a></b>
    
  </body>
</html>